/* Hero.css */

.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.2; /* Adjusted line-height for better readability */
}

.hero-left h2 {
    color: #090909;
    font-size: 2.5rem; /* Using 'rem' for better scalability */
    font-weight: 600;
}

.hero-left p {
    color: #171717;
    font-size: 4rem; /* Adjusted font size */
    font-weight: 700;
    margin: 0; /* Resetting default margin */
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 105px;
    max-height: 105px; /* Maintain aspect ratio */
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 35px; /* Adjusted border-radius for better aesthetics */
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 1.4rem; /* Using 'rem' for better scalability */
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.hero-latest-btn:hover{
    cursor: pointer;
    background: #f02f2f;
    transform: scale(1.03);
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    max-width: 100%; /* Adjusted image size */
    max-height: 100%; /* Maintain aspect ratio */
    border-radius: 15px; /* Adjusted border-radius for better aesthetics */
}
